$notifier-info-background-color: #4d4d4d;
$notifier-info-font-color: #fff;
$notifier-success-font-color: #fff;
$notifier-error-font-color: #fff;

// Import Pico
@import "@picocss/pico/scss/pico";
@import 'node_modules/angular-notifier/styles';

.notifier__notification--info .notifier__notification-message {
  color: $notifier-info-font-color;
}

.notifier__notification--success .notifier__notification-message {
  color: $notifier-success-font-color;
}

.notifier__notification--error .notifier__notification-message {
  color: $notifier-error-font-color;
}

body {
  padding: 20px;
}

h2 {
  margin-bottom: 18px;
}

.warning {
  border-color: darkorange;
}

.outline.warning {
  border-color: darkorange;
  color: darkorange;

  &:hover {
    background-color: darkorange;
    color: white;
  }
}

.warning:not(.outline) {
  background-color: darkorange;
  color: white;
}

.hidden {
  display: none !important;
}

.mb {
  margin-bottom: 32px;
}
