<header>
  <h1>LoRa Tracker - Settings</h1>
</header>

<main class="container">
  <div>
    <h2>Connect device with Serial Port</h2>

    <button (click)="connectSerial()" *ngIf="!serialPortService.serialConnected">Connect serial to retrieve current config</button>
    <button (click)="disconnectSerial()" *ngIf="serialPortService.serialConnected" class="warning">Disconnect serial</button>
  </div>

  <div>
    <h2>Settings</h2>

    <app-settings-form
      [setData]="newSettingsFormData"
      (saveData)="saveSettings($event)"
    ></app-settings-form>
  </div>

    <div class="mb">
      <h3>Serial port received</h3>
      <ng-terminal #term></ng-terminal>
    </div>
</main>

<notifier-container></notifier-container>
